*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    width: 97.7%;
    height: 3.5rem;
    background-color: #455258;
    margin: 10px auto 0px auto;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    position: relative;

}

#navbar span a{
    color: white;
    text-decoration: none;
}

#navbar ul{
    position: absolute;
    list-style: none;
    display: flex;
    right: 30px;
}
#navbar ul li{
    margin: 2.5rem;
    cursor: pointer;
}

#navbar ul a{
    text-decoration: none;
    color: white;
}

#navbar ul li:nth-child(4) a {
    color: black;
}

#navbar ul li:nth-child(4){
    background-color: white;
    border-radius: 7px;
    color: black;
    padding: 0 15px;
}

#navbar span{
    position: absolute;

    padding: 2rem;
    font-weight: 550;
    font-size: 30px;
    cursor: pointer;
}

#home{
    display: flex;
    justify-content: center;
}

@media(min-width:989px) and (max-width:1120px){
    #navbar ul li{
        margin: 1.7rem;
    }
}

.menu-icon img{
    display: none;
    position: absolute;
    height: 40px;
    right: 4rem;
    top: 0.6rem;
    cursor: pointer;
}

@media (max-width:1009px){
    .menu-icon img{
        display: block;
    }

    #navbar ul{
        display: none;
    }
}

@media (max-width:510px){
    #navbar span{
        padding: 1rem;
        font-size: 23px;
    }

    .menu-icon img{
        right: 2rem;
    }

}

#navbar img{
    filter: invert(100%);
}

@media (max-width:1009px){
    #navbar ul{
        display: none;
        flex-direction: column;
        width: 95%;
        background-color: #455258;
        position: absolute;
        margin: 20px;
        top: 45px;
        left: 0px;
        align-items: flex-end;
        z-index: unset;
    }

    #navbar ul.active{
        display: flex;
    }

    #navbar ul li{
        margin: 30px;
    }

    #navbar ul #button{
        width: 8rem;
        text-align: center;
        
    }
    
}

#navbar ul li:active{
    color: rgb(228, 199, 255);
}



section:first-child{
    display: flex;
    justify-content: center;
}

#home{
    display: flex;
    width: 94%;
    /* height: 70%; */
    background-color: #f1f1f1;
    box-shadow: 2px 3px 6px 2px grey;
    margin: 15px auto;
    flex-direction: row-reverse;
    font-family: Rubik;
    border-radius: 10px;
    justify-content: space-evenly;
}

#about{
    display: flex;
    width: 94%;
    background-color: #2a2a2a;
    color: white;
    box-shadow: 2px 3px 6px 2px grey;
    margin: 0px auto;
    font-family: Rubik;
    border-radius: 10px;
}

#home button{
    height: 2.4rem;
    width: 14rem;
    display: block;
    margin: auto;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    background-color: #EBF7FF;
    padding: 3px 7px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#title-head button a{
    color: black;
    text-decoration: none;
}

#home button:hover{
    box-shadow: 2px 2px 4px grey;
}

#title-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 5rem;
    height: 470px;
    justify-content: space-evenly;
}


#title-profile img{
    height: 21rem;
    overflow: hidden;
    display: block;
    margin: 10px auto;
    justify-content: center;
}

#title-profile .down-resume span{
    display: inline-block;
}

#title-profile .down-resume{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin: 2rem; */
}

#title-profile a{
    text-decoration: none ;

}

#title-profile .down-resume img{
    max-height: 22px;
}

#title-head{
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem;
    align-items: center;
    justify-content: space-evenly;
    height: 470px;
}

#title-head .sen{
    font-size: 30px;
    font-weight: 500;
    display: block;
    margin: 5px 0;
}

#title-head .second-sen{
    font-weight: 700;
    font-size: 40px;
    background: linear-gradient(50deg, #779fc5, #343739);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#title-head .first-sen{
    margin: 0 5px;

}

#title-head .third-sen{
    margin-bottom: 8px;
}

.connect-home{
    position: relative;
    /* margin: 2rem; */
}


#parahead{
    height: 17rem;
    padding-top: 4rem;
}

@media (max-width:1088px){
    #home{
        flex-wrap: wrap;
        justify-content: center;
    }

    #title-head, #title-profile{
        margin: 10px 30px;
    }

    #parahead{
        padding: 30px 0;
    }
}

section:nth-child(2){
    display: flex;
    justify-content: center;
}

.highlight-button{
    position: relative;
    height: 55px;
    width: 100px;
    background-color: #A6A6A6;
    display: flex;
    justify-content: left;
    border-radius:30px;
    cursor: pointer;
}

.highlight-toggle{
    justify-content: right;
    background-color: rgb(241, 241, 241);
}


.highlight-button .circle{
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.highlight-button .changeCircle{
    background-color: rgb(170, 170, 170);
}

.about-para .highlight{
    text-decoration: line-through;
    color: rgb(97, 97, 97);
    font-weight: 300;
}

#first-block, .second-block{
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 43%;
    font-size: 25px;
    text-align: justify;
    font-weight: 400;
    padding: 10px;
    color: rgb(255, 255, 255);
}

#first-block h1{
    margin: 10px 0;
    margin-bottom: 20px;
}

#first-block .highlight-button{
    margin: 10px 0px ;
}

#first-block .about-para{
    margin-top: 30px;
}

#about{
    display: flex;
    flex-direction: column;
}

#about-div{
    display: flex;
    /* flex-direction: column; */
}

.apj-quote{
    font-size: 34px;
    font-weight: bolder;
    background: linear-gradient(50deg, #a2bed8, #c6cfd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 5px auto;
    margin-bottom: 3rem;
    padding: 15px;
    text-align: center;
}

.second-block .icon-circle{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-circles{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.second-block{
    justify-content: space-between;
    
}

.about-para:nth-child(2){
    padding-top: 30px;
}

.icon-circle img{
    position: absolute;
    height: 40px;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width:1000px){
    #about-div{
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 22px;
    }

    #about{
        font-size: 22px;
    }

    #first-block, .second-block{
        width: 89%;
        margin: 0px auto;
        font-size: 22px;
    }

    

    .block-circles{
        margin-top: 1rem;
    }

    .apj-quote{
        font-size: 22px;
        text-align: center;
    }

}

.skillhub{
    margin: 15px;
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillhub img{
    height: 42px;
}

#skill-head{
    margin: 1%;
    margin: 20px 15px 0px 0px;
    padding: 1% 2.5%;
    font-weight: 600;
    font-size: 30px;
    font-family: Poppins;
}

#full-stack{
    border: 2px solid;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

#full-stack h2{
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    margin: 20px 0px 0px 0px;
}

#full-stack .logo{
    display: flex;
    margin: 30px 50px 10px 0px;
    padding: 0px 25px;
    width: 24%;
    justify-content: left;
}

#full-stack .name-progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 8px;
    font-weight: 500;
}

#full-stack .skill-name{
    font-size: 18px;
}

.skills{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    width: 95%;
}

.projecthub{
    margin: 30px auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: rubik;
}

.projecthub h2{
    font-family: poppins;
    font-size: 30px;
}

.projects{
    width: 97%;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project{
    width: 25rem;
    margin: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img{
    width: 100%;
    height: 240px;
}

.head-project img{
    height: 20px;
    width: 20px;
}

#project-2 .head-project{
    color: black;
    cursor:default;
}

.project a{
    text-decoration: none;
    color: rgb(95, 95, 255);
}

.head-project{
    font-size: 24px;
    font-weight: 450;
    color: rgb(95, 95, 255);
    margin: 15px 0px;
    cursor: pointer;
}

.info-project{
    font-size: 20px;
    font-weight: 400;
    margin: 20px;
    text-align: center;
}

.contact-me{
    background-color: rgb(255, 253, 253);
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0.3px gray;
}

.contact-me h1{
    font-family: Poppins;
    font-size: 35px;
    margin: 0px 30px;
    padding: 20px 20px;
    margin-top: 40px;
    
}

.connect-main{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    font-family: Rubik;
    justify-content: space-evenly;
}

.contact-info{
    width: 35rem;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-evenly;
    align-items: left;
    margin: 20px 2px;
}

.contact-me h2{
    font-size: 30px;
    font-weight: 550;
    color: #28434d;
    margin-left: 0px;
    /* margin: 10px ; */
}

.message-info{
    width: 35rem;
    margin: 20px;
    /* font-size: 20px; */
    font-weight: 450;
}

.mail-number img{
    height: 20px;
    margin-right: 20px;
}

.mail-number{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    font-weight: 450;
    text-align: center;
}

#mail, #phone{
    display: flex;
    font-size: 25px;
    border: 2px solid ;
    padding: 10px 5px;
    justify-content: center;
    /* margin: 20px; */
    /* flex-wrap: wrap; */
}

@media (max-width:442px){
    #mail, #phone{
        font-size: 20px;
    }
}

label{
    font-size: 22px;
}


.message-info input, textarea{
    height: 30px;
    width: 18rem;
    border: 0.001px solid ;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 5px;
}

.message-info input:focus{
    outline: none;

}


textarea{
    width: 18rem;
    max-width: 18rem;
    min-height: 5rem;
    min-width: 18rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.message-info div{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0px;
    flex-wrap: wrap;
}

.message-info .submit input{
    width: 9rem;
    font-size: 25px;
    font-weight: 450;
    border-radius: 5px;
    border: none;
    background-color: rgb(98, 102, 151);
    color: white;
    display: flex;
    margin: 5px auto;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    cursor: pointer;
}

.message-info .submit input:active{
    background-color: rgb(28, 25, 68);
}

.message-info div:nth-child(5){
    margin: 10px auto;
}

.skills .logo:nth-child(4) img{
    height: 42px;
    width: 42px;
}

footer{
    width: 100%;
    font-family: poppins;
    background-color: black;
    color: white;
    margin: 15px 0px 0px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quote-box{
    margin: 30px;
    font-size: 40px;

}

.quote-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
}


.made-by{
    font-size: 22px;
    margin: 15px;
}

@media(max-width:500px){
    .quote-link{
        width: 90%;
        margin: 20px;
    }

    .contact-me h1{
        padding: 0px;
        margin: 10px;
    }

    
}



.link-box .icon-circle{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-box .block-circles{
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:571px){
    .link-box .block-circles{
        margin: 10px;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .link-box .icon-circle{
        margin: 8px;
        height: 45px;
        width: 45px;
    }
    
}

